*{margin:0}
body{font-family:Helvetica}
h2,h4{margin:0.7em}
hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0; 
}
/* 
*/
table{border-collapse:collapse} 
td{border:1px solid #fff}

div{
	padding:0.1em;
	margin:0.1em;
}

td.menu{
	font-size:12px;
	border:1px solid #fff;
	padding:1.8541em 3em;
}

tr.tasca{
	font-size:12px;
	background-color:lightblue;
}

tr[acabada] > td{ background-color:#af0; }

div.projecte{
	background-color:white;
	margin:5px 2px;
	border:1px solid #ccc;
	display:inline-block;
	vertical-align:top;
	max-height:220px;
	width:19%;
	overflow:hidden;
	overflow-y:auto;
}

/*
div.projecte:hover { background-color:#F7F8E0; }
*/

button{
	border:1px solid #666;
	border-radius:0.1em;
}

button.boto_area{
	padding-left :1em;
	padding-right:1em;
	margin:0.1em;
}

/*enllaços*/
a{text-decoration:none}
a:visited{ color:blue; }
/*
a:hover{ color:#ff007f; }
*/
